body{
    background-color: #001422;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.circle{
    background-color: rebeccapurple; 
    border-radius: 50%;
    position: absolute;
}

.circle-1{
    height: 120px;
    width:  120px;
    top:-50px;
    left:-50px;
}
.circle-2{
    height: 220px;
    width:  220px;   
}
.circle-3{
    height: 300px;
    width:  300px;
}

.card-container{
    position: relative;
}
.card{
    background-color: rgba(240, 248, 255, 0.164);
    height: 500px;
    width: 300px;
    backdrop-filter: blur(11px);
    border-radius: 10px;
}